.App {
	text-align: center;
	margin: 0;
	padding: 0;
}

.clear-background {
	background-color: transparent;
	border-color: transparent;
	color: #0A64F5;
	text-decoration: underline;
}

.pointer {
	cursor: pointer;
}

.navbar {
	background-color: #000080;
	color: white;
	height: 50px;
}

.navbar a {
	color: white;
	text-decoration: none;
}

.head-link {
	padding: 2px;
	margin-right: 1rem;
	border: 1px solid transparent;
	cursor: pointer;
	border-radius: 15px;
	color: white;
	text-decoration: none;
}

.head-link:hover {
	border-color: white;
}

.main-content {
	text-align: center;
	/* width: 75%; */
	padding: 50px;
}

.search-box {
	position: relative;
	display: inline-flex;
	align-items: center;
	border: 2px solid #000080;
	border-radius: 30px;
}

.search-box input {
	border: none;
	margin-right: 5px;
	padding: 10px;
	width: 400px;
	outline: none;
}

.search-box button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1em;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #bababa;
	border-top: 1px solid #e7e7e7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer .text-muted {
	font-weight: bold;
}

.search-container {
	position: relative;
}

.suggestions-list {
	position: absolute;
	z-index: 1000;
	top: 70%;
	box-sizing: border-box;
	background: #fff;
	width: 400px;
	list-style-type: none;
	text-align: start;
	margin-top: 0;
	padding-left: 0;
	border: 1px solid #ddd;
	border-top: none;
}

.suggestions-list li {
	padding: 0.5rem;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
}

.suggestions-list li:last-child {
	border-bottom: none;
}

.suggestions-list li:hover {
	background-color: #f2f2f2;
}

.error-message {
	background-color: #FFD2D2;
	color: #D8000C;
	padding: 10px 20px;
	margin: 20px auto;
	border: 1px solid #D8000C;
	border-radius: 5px;
	width: 80%;
	box-shadow: 0 4px 8px rgba(216, 0, 12, 0.2);
	text-align: center;
	font-size: 1rem;
}

.tabs .nav-tabs {
	justify-content: center;
}

.tabs .nav-link {
	border: none;
	border-radius: 0;
	background-color: transparent;
	color: #6c757d;
	margin-right: 2px;
	transition: background-color 0.2s, color 0.2s;
}

.tabs .nav-link:hover {
	background-color: #e9ecef;
	color: #000080;
}

.tabs .nav-link.active {
	background-color: white;
	color: #000080;
	border-bottom: 1px solid #000080;
}

.tab-content {
	background-color: white;
	padding: 15px;
}

.stock-image {
	height: 100px;
	width: 100px;
}

.red {
	font-weight: bold;
	color: #D8000C;
}

.anchor-tag {
	color: #0D6EFD;
	border-bottom: 1px solid #0D6EFD;
	cursor: pointer;
}

.news-image {
	height: 100px;
	width: 200px;
}

.card-title {
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.2em;
	max-height: 2.4em;
	font-size: 1rem;
	margin: 0 0 10px;
}

.date-news {
	font-size: medium;
	font-weight: normal;
}

.share-box {
	margin-top: 50px;
	border: 1px solid #6c757d;
	border-radius: 5px;
}

.share-box .row {
	display: flex;
	align-items: center;
	justify-content: start;
	flex-wrap: nowrap;
}

/* If you need to add spacing between the icons */
.share-box a {
	margin-right: 10px;
	/* Adjust the spacing as needed */
}


.hover-effect:hover {
	cursor: pointer;
}