.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #000080;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.head-link:hover {
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  text-decoration: none;
}